{% include head.html %}

	<div class="content">
		<div class="container">
			{{ content }}
		</div>
	</div>
	<!-- end .content -->

{% include footer.html %}

<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'pedrorijo91'; // required: replace example with your forum shortname
			var disqus_identifier = "{{ page.url }}";
			(function () {
				var s = document.createElement('script');
				s.async = true;
				s.type = 'text/javascript';
				s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
				(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());
		</script>
