---
layout: default
---
<div class="post js-anchors">
	{% if page.image %}
		<div class="featuredImage" align='center'>
	  		<img src="{{ site.url }}/assets/img/{{ page.image }}" height="250px"
				alt="{% if page.image_alt %}{{ page.image_alt }}{% else %}{{ page.title }}{% endif %}"/>
	  	</div>
	{% endif %}
	<h2 class="postTitle">{{ page.title }}</h2>
	<p class="meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</p>

	<div class="post-body">
	{{ content }}
	</div>

	{% include tags.html %}

	{% include nav.html %}

	{% include mailchimp.html %}

</div>
